* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background: #ffffff;
    color: #0b0b0b;
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
    align-items: center;
  }
  
  .logo {
    font-size: 22px;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #0b0b0b;
  }
  
  /* Hero */
  .hero img {
    width: 100%;
    height: auto ;
    
    object-fit: cover;
  }
  
  /* Why */
  .why {
    text-align: center;
    padding: 60px 20px;
  }
  
  .why h2 {
    margin-bottom: 20px;
  }
  
  .why p {
    max-width: 800px;
    margin: auto;
    color: #14213D;
  }
  
  /* Plans */
  #plan {
    padding: 60px 20px;
    text-align: center;
  }
  
  .plan-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
  }
  
  .plan-card {
    background: #0b0b0b;
    color: #ffffff;
    width: 300px;
    padding: 30px 20px;
    border-radius: 10px;
    position: relative;
  }
  
  .plan-card h3 {
    margin-bottom: 15px;
  }
  
  .plan-card p {
    font-size: 14px;
    margin-bottom: 8px;
  }
  
  .plan-card button {
    margin-top: 20px;
    padding: 8px 20px;
    background: #FCA311;
;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  .popular{
    border-top-left-radius: 0;
  }
  

  
  /* Team */
  #team {
    padding: 60px 20px;
    text-align: center;
  }
  
  .team-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
  }
  
  .member {
    width: 200px;
  }
  
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden; /* ensures image fits inside circle */
    margin: 0 auto 10px;
  }
  
  .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* crop/fill nicely */
  }
  
  /* Footer */
  .footer {
    background: #000;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 20px;
  }
  
  .footer-logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .footer h4 {
    margin-bottom: 10px;
  }
  
  .footer a{
    font-size: 14px;
    color:#fff;
    display: block;
    text-decoration: none;
    margin-bottom: 5px;
  }
  
  .copyright {
    background: #000;
    color: #aaa;
    text-align: center;
    padding: 10px;
    font-size: 13px;
  }
  
  /* Responsive (Flexbox based) */
  @media (max-width: 768px) {
    .nav-links {
      font-size: 0.8rem;
    }
  
    .plan-card {
      width: 45%; /* 2 per row */
    }
  }
  
  @media (max-width: 480px) {
    .plan-card {
      width: 100%; /* 1 per row */
    }
  
    .footer {
      flex-direction: column;
      text-align: center;
      gap: 20px;
    }
  }