/* ===== Reset ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* ===== Body ===== */
body {
  background-color: #ffffff;
  min-height: 100vh;
}

/* ===== Navbar ===== */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links a {
  margin-left: 25px;
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

main {
  background-color: #000;
  width: 40%;
  border-radius: 12px;
  margin: 0 auto;
  color: #fff;
  padding: 30px;
  margin-bottom: 2%;
}
main form .form-title {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 5%;
}
main form label {
  display: block;
  margin: 1% 0;
}
main form input {
  background-color: #fff;
  padding: 7px 5px;
  border-radius: 12px;
  width: 100%;
  border-radius: 12;
}
main form input[type="file"]{
  width:200px;
  background-color: #fca311;
}
main button {
  width: 100%;
  background-color: #fca311;
  padding: 7px 5px;
  margin: 2% 0;
  border-radius: 12px;
  color: #000;
  text-align: center;
  font-size: 1.2rem;
}
main button:hover {
  cursor: pointer;
}
main .signup-text {
  font-size: 0.8rem;
  text-align: center;
}
main .signup-text a {
  color: #fca311;
  text-decoration: none;
}
.success{
  color:#00ff00;
  font-size:0.9rem;

}
.error{
  color:#ff0000;
  font-size: 0.9rem;
}
/* Footer */
.footer {
  background: #000;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px 20px;
}

.footer-logo {
  font-size: 24px;
  font-weight: bold;
}

.footer h4 {
  margin-bottom: 10px;
}

.footer a {
  font-size: 14px;
  color: #fff;
  display: block;
  text-decoration: none;
  margin-bottom: 5px;
}

.copyright {
  background: #000;
  color: #aaa;
  text-align: center;
  padding: 10px;
  font-size: 13px;
}

/* Responsive (Flexbox based) */
@media (max-width: 768px) {
  .nav-links {
    font-size: 0.8rem;
  }
  main .form-title {
    font-size: 0.8rem;
  }
  main {
    width: 60%;
  }
}
@media (max-width: 500px) {
  main {
    width: 70%;
  }
  .navbar {
    padding: 15px 20px;
  }
}

@media (max-width: 480px) {
  .footer {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  main {
    width: 90%;
  }
}
