* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #ffffff;
  color: #000;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links a {
  margin-left: 25px;
  text-decoration: none;
  color: #000;
  font-size: 15px;
}

.nav-links a.active {
  font-weight: bold;
}

/* MAIN CONTAINER */
.container {
  width: 70%;
  margin: 30px auto;
}
.container img {
  display: block;
  max-width: 100%;
  margin: auto;
}
.container h2 {
  margin-bottom: 15px;
}

/* EVENTS */
.event-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.event-item {
  background: #eeeeee;
  border: 2px solid #a33;
  border-radius: 8px;
  padding: 14px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}

.event-item span {
  font-size: 15px;
}

.event-item small {
  color: #888;
  font-size: 13px;
}

/* VIEW ALL */
.view-all {
  display: inline-block;
  margin: 10px 0 30px;
  color: #fca311;
  text-decoration: none;
  font-size: 14px;
}

/* SEND EVENT */
.send-event {
  display: flex;
  align-items: center;
  border: 2px solid #fca311;
  border-radius: 8px;
  overflow: hidden;
}

.send-event input {
  flex: 1;
  padding: 14px;
  border: none;
  outline: none;
  font-size: 14px;
}

.send-event button {
  background: white;
  border: none;
  padding: 0 18px;
  font-size: 20px;
  color: #fca311;
  cursor: pointer;
}

.event .edir_name {
  color: #fca311;
  font-weight: bold;
  margin-bottom: 1%;
}
.event h3 {
  margin-bottom: 3%;
}
.event .description {
  font-size: 0.9rem;
  font-style: italic;
  margin-bottom: 4%;
}
/* Footer */
.footer {
  background: #000;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px 20px;
  margin-top: 8%;
}

.footer-logo {
  font-size: 24px;
  font-weight: bold;
}

.footer h4 {
  margin-bottom: 10px;
}

.footer a {
  font-size: 14px;
  color: #fff;
  display: block;
  text-decoration: none;
  margin-bottom: 5px;
}

.copyright {
  background: #000;
  color: #aaa;
  text-align: center;
  padding: 10px;
  font-size: 13px;
}

/* Responsive (Flexbox based) */
@media (max-width: 768px) {
  .navbar {
    padding: 16px 20px;
    justify-content: center;
    text-align: center;
  }

  .nav-links {
    gap: 15px;
    justify-content: center;
  }

  .plan-card {
    width: 45%; /* 2 per row */
  }
}

@media (max-width: 480px) {
  .plan-card {
    width: 100%; /* 1 per row */
  }
  .inner_event span {
    font-size: 0.8rem;
  }
  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .event-item {
    flex-direction: column;
  }
  .event-item span {
    text-align: left;
  }
  .event-item small {
    font-size: 0.6rem;
  }

  .footer {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}
