* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #0b0b0b;
}

/* main */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2%;
}

main section {
  background-color: #000;
  padding: 4px 12px;
  padding-right: 35px;
  border-radius: 14px;
  margin: 1% 0;
}
main section h2 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: normal;
}
main section p {
  font-weight: bold;
  color: #fca311;
  font-size: 1.4rem;
}

/* user managment */
.usermanagment {
  margin: 2% auto;
  width: 80%;
  background-color: #ffffff00;
  box-shadow: 1px 1px 2px #fca311;
  padding:10px;
  border-radius: 12px;
}

.usermanagment h2 {
  font-size: 1.4rem;
  font-weight: bolder;
  color: #000;
  margin: 1% 0;
}
.container {
  padding: 5px;
}
/* ===== SEARCH BAR ===== */
section form {
  padding: 5px 10px;
  border-bottom: 1px solid #E5E5E5;
}

section input[type="search"] {
  width: 125px;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  cursor:pointer;
}

.container ul{
    list-style-type: none;
    text-decoration: none;
    padding:5px;
}
.container ul li{
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid #E5E5E5;
    padding:5px;
    flex-wrap:wrap;
}
.container ul li span:first-child{
    width: 115px;
}
.container ul li span:nth-child(2){
    color: rgba(0,0,0,0.5);
}


.container ul li button{
    all:unset;
    min-height: 30px;
    max-height: 30px;
    background-color: #ff0000;
    padding:2px 4px;
    border:none;
    border-radius: 12px;
    color:#fff;
}
/* Footer */
.footer {
  background: #000;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px 20px;
}

.footer-logo {
  font-size: 24px;
  font-weight: bold;
}

.footer h4 {
  margin-bottom: 10px;
}

.footer a {
  font-size: 14px;
  color: #fff;
  display: block;
  text-decoration: none;
  margin-bottom: 5px;
}

.copyright {
  background: #000;
  color: #aaa;
  text-align: center;
  padding: 10px;
  font-size: 13px;
}

/* Responsive (Flexbox based) */
@media (max-width: 768px) {
  .nav-links {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .footer {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}
