/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
}

/* Main Container */
.container {
  padding: 40px 80px;
}

.container h2 {
  margin-bottom: 20px;
}

/* Request Card */
.request-card {
  background: #eee;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px 20px;
  border-bottom: 3px solid #8b0000;
}

.request-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 16px;
  font-weight: 500;
}

.time {
  color: #777;
  font-size: 14px;
}

/* Buttons */
.actions {
  margin-top: 10px;
}

.actions button {
  border: none;
  padding: 5px 14px;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
}

.approve {
  background: #3cff00;
  margin-right: 10px;
}

.decline {
  background: #ff3b3b;
}

/* View All */
.view-all {
  color: red;
  text-decoration: none;
  font-size: 14px;
}

 /* Footer */
  .footer {
    background: #000;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 20px;
  }
  
  .footer-logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .footer h4 {
    margin-bottom: 10px;
  }
  
  .footer a{
    font-size: 14px;
    color:#fff;
    display: block;
    text-decoration: none;
    margin-bottom: 5px;
  }
  
  .copyright {
    background: #000;
    color: #aaa;
    text-align: center;
    padding: 10px;
    font-size: 13px;
  }
  
  /* Responsive (Flexbox based) */
  @media (max-width: 768px) {
    .nav-links {
      font-size: 0.8rem;
    }
  
    .plan-card {
      width: 45%; /* 2 per row */
    }
  }
  
  @media (max-width: 480px) {
    .plan-card {
      width: 100%; /* 1 per row */
    }
  
    .footer {
      flex-direction: column;
      text-align: center;
      gap: 20px;
    }
  }
